@import "compass/css3";

$mainColor: #4bbebe;
$txtColor:#424242;

@media screen {
body { 
  background-color: #ccc;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Helvetica Neue", "Helvetica", Helvetica, "微软雅黑", Arial, sans-serif;
}
p {
  margin-bottom: 8px;
  color:lighten($txtColor,30%);
}
.container {
  @include box-shadow(#333 0 0 5px);
  padding-top: 24px;
  background-color: #fff;
  ul { margin: 0; padding-left: 35px; list-style: none;
    li { color: $txtColor; line-height: 24px; }
  }
  .contact{
    a{
      color: $txtColor;
    }
    ul{
      padding-left: 0;
    }
  }
}
.date{
  color: lighten($txtColor,40%);
}
.icon{
  display: block;
  float: left;
  margin-right: 5px;
  width: 30px;
  height: 30px;
  background-color: $mainColor;
  @include background-image(linear-gradient(top, $mainColor, lighten($mainColor,10%)));
  -webkit-mask-size: 30px;
}
.icon-edu{
  -webkit-mask-image: inline-image("icons/gradhat.png");
}
.icon-exp{
  -webkit-mask-image: inline-image("icons/clock.png");
}
.icon-skills{
  -webkit-mask-image: inline-image("icons/lab.png");
}
.icon-proficiency{
  -webkit-mask-image: inline-image("icons/chart2.png");
}
.icon-projects{
  -webkit-mask-image: inline-image("icons/archive.png");
} 
.icon-phone{
  -webkit-mask-image: inline-image("icons/iphone.png");
  -webkit-mask-size: 24px;
  width: 24px;
  height: 24px;
  background-color: $txtColor;
  @include background-image(linear-gradient(top, $txtColor, lighten($txtColor,10%)));
}
.icon-email{
  -webkit-mask-image: inline-image("icons/email.png");
  -webkit-mask-size: 24px;
  width: 24px;
  height: 24px;
  background-color: $txtColor;
  @include background-image(linear-gradient(top, $txtColor, lighten($txtColor,10%)));
}

h1 { margin-bottom: 0; font-size: 56px; }
h3 { color: $mainColor; text-transform: uppercase; font-weight: normal;}
h4 { margin:6px 0; color:$txtColor; text-transform: uppercase; font-weight:normal; font-size:16px;}
h5 { margin:0 0 5px; color: lighten($txtColor,30%); font-weight:normal; font-size:14px;}
div.progress { height: 16px; background-color: lighten($mainColor,30%); margin-bottom:15px; }
div.progress .meter{ background-color:$mainColor;}
div.progress .meter { display: block; height: 100%;}
.skills li { margin-bottom: 10px; font-size: 14px; }
.piewrapper { position: relative; height: 180px; }
.pie {
  @include transform-origin(0,50%);
  position: absolute;
  left: 50%;
  overflow: hidden;
  width: 90px;
  height: 180px;
}
.halfcircle {
  @include box-sizing(border-box);
  @include transform-origin(100%,50%);
  position: absolute;
  left: -90px;
  width: 90px;
  height: 180px;
  border: 12px solid $mainColor;
  border-right: none;
  background-color: #fff;
  @include border-radius(100% 0 0 100% / 50% 0 0 50%);
}
.tiptext{
  position:absolute;
  width: 65px;
  height: auto;
  color: lighten($txtColor,30%);
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  &.lt{
    top: 0;
    left: 10%;
  }
  &.lb{
    top: 168px;
    left: 10%;
  }
  &.rt{
    top: 0;
    right: 10%;
  }
  &.rb{
    top: 168px;
    right: 10%;
  }
}
.tipline{
  position:absolute;
  width: 15%;
  height: 20%;
  border-style:solid;
  border-color:lighten($txtColor,40%);
  &.lt{    
    @include transform(skewX(45deg));
    top: 15px;
    left: 15%;
    border-width:1px 1px 0 0;;
  }
  &.lb{
    @include transform(skewX(-45deg));
    top: 146px;
    left: 15%;
    border-width:0 1px 1px 0;
  }
  &.rt{    
    @include transform(skewX(-45deg));
    top: 15px;
    right: 15%;
    border-width:1px 0 0 1px;;
  }
  &.rb{    
    @include transform(skewX(45deg));
    top: 146px;
    right: 15%;
    border-width:0 0 1px 1px;;
  }
}
.light { border-color: lighten($mainColor,15%); }
.lighten { border-color: lighten($mainColor,30%); }

#pie1{
  .halfcircle{
    @include transform2d(rotate(180deg));
  }
}
#pie2{
  @include transform2d(rotate(180deg));
  .halfcircle{
    @include transform2d(rotate(60deg));
  }
}
#pie3{
  @include transform2d(rotate(240deg));
  .halfcircle{
    @include transform2d(rotate(120deg));
  }
}

}

@media print{
  h3{
    
  }
}