<div class="row">
	<div class="nine columns">
		<h1>{{resume.profile.name}}</h1>
		<h5><span ng-repeat="title in resume.profile.workAs">{{title}} </span></h5>
	</div>
	<div class="three columns contact">
		<p><a href="tel:{{resume.profile.phone}}">{{resume.profile.phone}}</a></p>
		<p><a href="mailto:{{resume.profile.email}}?subject=Job" "email me">{{resume.profile.email}}</a></p>
	</div>
</div>

<div class="row">
	<div class="twelve columns">
		<h3>Education</h3>
		<ul class="edu">
			<li ng-repeat="edu in resume.education" class="row">
				<div class="four columns">
					<h4>{{edu.school}}</h4>
					<p class="date">{{edu.startDate}} - {{edu.endDate}}</p>
				</div>
				<div class="eight columns">
					<h4>{{edu.subject}}</h4>
					<p>{{edu.text}}</p>
				</div>
			</li>
		</ul>
		<h3>Experience</h3>
		<ul class="exp">
			<li ng-repeat="exp in resume.experience" class="row">
				<div class="four columns">
					<h4>{{exp.company}}</h4>
					<p class="date">{{exp.startDate}} - {{exp.endDate}}</p>
				</div>
				<div class="eight columns">
					<h4> {{exp.title}}</h4>
					<p>{{exp.text}}</p>
				</div>
			</li>
		</ul>
	</div>

</div>

<div class="row">
	<div class="six columns">
		<h3>Proficiency</h3>
		<div class="row piewrapper">
			<div class="tipline lt"></div>
			<div class="tipline lb"></div>
			<div class="tipline rt"></div>
			<div class="tipline rb"></div>
			<div class="tiptext lt">HTML</div>
			<div class="tiptext lb">CSS</div>
			<div class="tiptext rt">JS</div>
			<div class="tiptext rb">php</div>
			<div class="pie">
					<div class="halfcircle" style="-webkit-transform:rotate(180deg);"></div>
			</div>
			<div class="pie" style="-webkit-transform:rotate(180deg);">
				<div class="halfcircle orange" style="-webkit-transform:rotate(60deg);"></div>
			</div>
			<div class="pie" style="-webkit-transform:rotate(240deg);">
					<div class="halfcircle gray" style="-webkit-transform:rotate(120deg);"></div>
			</div>
		</div>
	</div>

	<div class="six columns">
		<h3>Skills</h3>
		<div class="skills row">
			<div ng-repeat="skill in resume.skills" class="six columns">
				<h4>{{skill.name}}</h4>
				<div class="progress round major">
					<span class="meter" style="width:{{skill.level*100}}%"></span>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<h3>Work</h3>
	<ul class="projects">
		<li ng-repeat="proj in resume.projects">{{proj.name}} {{proj.playas}} {{proj.text}}</li>
	</ul>
</div>
