@import "settings";
@import "compass/css3";
@import "foundation/foundation-global";


html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, em, button { margin:0;padding:0;}
body { background-color:#fff;font-size:$base-font-size;line-height:1.5;font-family:$body-font-family;color:$body-font-color;}
img { border:0;margin:0;padding:0;}
input, textarea { font-size:$base-font-size;}
table { border-collapse:collapse;}
a { color:$default-link-color;text-decoration:none;}
a:hover { text-decoration:underline;}
ul, li { list-style: none;}
dfn { font-style: normal;font-family: $third-font-family;}
/* Global CLS */
.left{ float: left;}
.right { float: right;}
.clearfix { @include clearfix();}
.strong{ font-weight: bold;}
.hide{ display: none; }
[class*="posfixed"] { position: fixed !important; top: 10px; }
.w1180{ min-width: 980px; max-width: 1180px; width: 100%; margin: 0 auto; position: relative; }
.w980{ width: 980px; margin: 0 auto; position: relative; }
.abbr{ color: $default-link-color; border-bottom: 1px $default-link-color dotted; *border-bottom: 1px $default-link-color dashed; cursor: pointer; }

/* Components */
@import "components/forms";
@import "components/custom_forms";
@import "components/nav";
@import "components/icons";
@import "components/button";
@import "components/grid";
@import "components/tooltip";
@import "components/label";

/* mods */
@import "mods/progressbar";
@import "mods/name_selection";
@import "mods/modal";
@import "mods/passenger_selection";

/* Layout */
.florder_main{ 
	margin-right: 400px;
	.collection {
		position: relative;
		.tip_arrow{
			max-width: 150px;
		}
		.radio{
			margin-right: 10%;
		}
	}
}
.sidebar_wrapper{ width: 100%; height: 0; position: absolute; top: 0px; }
.florder_info{ width: 380px; position: absolute; top:0; right: 0; }

/* Main Content */
/* Step 1 - fill in */
.passenger_info {
	border-top: 1px solid #c8d9ef;
	position: relative;
	margin-bottom: 10px;
	.add_to_fav{
		position: absolute;
		right: 15px;
		top: 10px;
		color: #888;
	}	
	h4{
		font-size: 12px;
		height: 32px;
		line-height: 32px;
		color: #666;
		margin:0 120px 0 100px;
		a {
			font-size: 12px;
			font-weight: normal;
			margin-left: 10px;
		}
	}
}
.passenger_info_add{
	background-color: transparent;
	padding:0 0 10px;
}
.passeger_card{
	border-top: 1px solid #c8d9ef;
	padding-top: 5px;
}
.deliver{
	.ico_greentree{ margin-right: 10px;  float: right; }
	.address {
		position: relative;
		padding: 5px 0;
		.modify{ 
			position: absolute; right: 20px; top: 0; 
		}
		.radio {
			padding-right: 40px;
		}
		span {
			display: inline-block;
			margin-right: 20px;
		}
		.checked {
			font-weight: bold;
		}
		:hover{
			background-color: #fff;
		}
	}
	.choose_city{
		font-size: 14px;
		font-weight: bold;
		color: #333;
	}
	.new_address {
		padding-top: 10px;
		margin-top: 10px;
		border-top: 1px solid #b6b4b4;
	}
}

/* Step 2 - check */
.passenger_info_check{
	.name {
		font-size: 20px;
		position: relative;
		top: -5px;
		font-family: $second-font-family;
		i {
			font-style: normal;
			font-size: 14px;
		}
	}
	.idcard {
		font-size: 14px;
		font-family: $second-font-family;
	}
}



.flight_insurance{
	background-color: #eff6fc;
	width: 100%;
	thead tr{
		background-color: #dcecf6;
		td{
			padding:10px 0;
			color: #666;
			text-align: center;
		}
	}
	tbody {
		td{
			padding:10px 0;
			background-color: #eff6fc;
			text-align: center;
			border-right: 1px solid #dcecf6;
			border-bottom: 1px solid #dcecf6;
			span {
				margin-right: 10px;
			}
		}
		.last td{
			border-bottom:none;	
		}
	} 
}

.florder_insurance_list{
	.florder_insurance_select{
		display: none;
		margin-bottom: 10px;
	}
	.checkbox{
		margin-bottom: 10px;
	}
	.last .checkbox{
		margin-bottom: 0;
	}
	select {
		width: 100px;
		margin: 0 10px 0 4px;
		vertical-align: middle;
	}
}

/* Side Content flight info */

/* Table of content (Price detail) */
.toc {
	li {
		background:url(http://pic.ctrip.com/fltdomestic111027/ico_sprite.png) no-repeat 0 -385px;
		.cols {
			background-color: #fffaed;
			&.right{
				padding-left: 10px;
			}
		}
	}
}
.mod_flightinfo{
	border:1px solid #dcdcdc;
	background-color: #f7f7f7;
	margin-bottom: 10px;
	padding:10px;
	.flight_info{
		margin-bottom: 10px;
		h4{
			margin-bottom: 5px;
			.transfer {
				display: inline-block;
				font-weight: normal;
				padding:0 3px;
				background-color: #92c0fc;
				color: #fff;
				@include border-radius(3px);
			}
		}
		p{
			font-size: 12px;
			margin-bottom: 5px;
			span {
				margin-right: 10px;
			}
		}
		i {
			font-style: normal;
		}
		.flight_number,.plane_type,.seat_type{
			color: #666;
			strong{
				color: #444;
			}
		}
		.rule{
			i{
				color: #666;
			}
		}
		.flight_line{
			position: relative;
		}

		.flight_from,.flight_to {
			display: inline-block;
			width: 35%;
			color: #000;
			float: left;
			text-align: right;
			.time {
				font-weight: bold;
			}
		}
		.flight_to {
			text-align: left;
			float: right;
		}
		.flight_passby{
			width: 30%;
			position: absolute;
			left: 35%;
			height: 48px;
			text-align: center;
			background: url(http://pic.ctrip.com/fltdomestic111027/ico_sprite.png) -305px 15px no-repeat;
			span {
				background-color: #f7f7f7;
				display: inline-block;
				color: #999;
			}
		}
		dfn{
			font-size: 12px;
			color: #666;
		}
		.price_info{
			padding-left: 20px;
			color: #666;
		}
		.price_number{
			color: #f60;
			font-size: 14px;
			font-family: $third-font-family;
			font-weight: bold;
		}
	}
	
}

.florder_price {
	border:1px solid #f0e9d6;
	background-color: #fffaed;
	padding:10px 20px;
	.row {
		padding-bottom: 0;
		.columns {
			background-color: #fffaee;
			padding-right:10px; 
			&.right{
				padding-right: 0;
				padding-left: 10px;
				float: right;
				text-align: right;
			}
		}
	}
	.sum{
		font-size: 14px;
		font-weight: bold;
		background: none;
		line-height: 32px;
		.price{
			color: #ff6600;
			font-size: 28px;
			font-family: $body-font-family;
			font-weight: normal;
			dfn{
				font-size: 14px;
				vertical-align: top;
				color: #666;
			}
		}
	}
	.order_detail{
		background: none;
		text-align: right;
	}
	.headline{
		font-weight: bold;
	}
}


.tabs_container{
	border-top: 1px solid #fff;
	background-color: #f8f8f8;
	padding:10px 20px;
}

/* flight logo padding fix */
[class*="pubFlights"] {
	padding-left: 22px !important;
}

@import "components/ie";