@import "settings";
@import "compass/css3";
@import "foundation/foundation-global";

/* Components */
@import "components/global";
@import "components/forms";
@import "components/custom_forms";
@import "components/nav";
@import "components/icons";
@import "components/button";
@import "components/grid";
@import "components/tooltip";
@import "components/label";
@import "components/animate";
/* mods */
@import "mods/progressbar";
@import "mods/name_selection";
@import "mods/modal";
@import "mods/passenger_selection";

/* Layout */
.florder_main{ 
	margin-right: 400px;
	.collection {
		position: relative;
		.tip_arrow{
			max-width: 150px;
		}
		.radio{
			margin-right: 10%;
		}
	}
}
.sidebar_wrapper{ 
	width: 100%; 
	height: 0; 
	position: absolute; 
	top: 0px; 
}
.florder_info{ 
	width: 380px; 
	position: absolute; 
	top:0; 
	right: 0; 
}
/* bonus */
.birthday_field,.input_txt{
	-webkit-animation-duration: 0.8s;
	-webkit-animation-delay: .1s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
}

/* Step 1 - fill in */
.passenger_info {
	border-top: 1px solid #c8d9ef;
	position: relative;
	margin-bottom: 10px;
	.add_to_fav{
		position: absolute;
		right: 15px;
		top: 10px;
		color: #888;
	}	
	h4{
		font-size: 12px;
		height: 32px;
		line-height: 32px;
		color: #666;
		margin:0 120px 0 100px;
		a {
			font-size: 12px;
			font-weight: normal;
			margin-left: 10px;
		}
	}
}
.passenger_info_add{
	background-color: transparent;
	padding:0 0 10px;
}
.passeger_card{
	border-top: 1px solid #c8d9ef;
	padding-top: 5px;
}
.tabs_container{
	border-top: 1px solid #fff;
	background-color: #ededed;
	padding:10px 20px;
}
.deliver{
	.ico_greentree{ margin-right: 10px; margin-top: 5px;  float: right; }
	.address {
		position: relative;
		padding: 5px 0;
		.modify{ 
			position: absolute; right: 20px; top: 0; 
		}
		.radio {
			padding-right: 40px;
		}
		span {
			display: inline-block;
			margin-right: 20px;
		}
		.checked {
			font-weight: bold;
		}
		:hover{
			background-color: #fff;
		}
	}
	.choose_city{
		font-size: 14px;
		font-weight: bold;
		color: #333;
	}
	.new_address {
		padding-top: 10px;
		margin-top: 10px;
		border-top: 1px solid #b6b4b4;
	}
}

/* Step 2 - check */
.passenger_info_check{
	.name {
		font-size: 20px;
		position: relative;
		top: -5px;
		font-family: $second-font-family;
		i {
			font-style: normal;
			font-size: 14px;
		}
	}
	.idcard {
		font-size: 14px;
		font-family: $second-font-family;
	}
}
.flight_insurance{
	background-color: #eff6fc;
	width: 100%;
	thead tr{
		background-color: #dcecf6;
		td{
			padding:10px 0;
			color: #666;
			text-align: center;
		}
	}
	tbody {
		td{
			padding:10px 0;
			background-color: #eff6fc;
			text-align: center;
			border-right: 1px solid #dcecf6;
			border-bottom: 1px solid #dcecf6;
			span {
				margin-right: 10px;
			}
		}
		.last td{
			border-bottom:none;	
		}
	} 
}
.florder_insurance_list{
	.florder_insurance_select{
		display: none;
		margin-bottom: 10px;
	}
	.checkbox{
		margin-bottom: 10px;
	}
	.last .checkbox{
		margin-bottom: 0;
	}
	select {
		width: 100px;
		margin: 0 10px 0 4px;
		vertical-align: middle;
	}
}

/* Side Content flight info */

.toc {
	li {
		background:url(http://pic.ctrip.com/fltdomestic111027/ico_sprite.png) no-repeat 0 -385px;
		.cols {
			background-color: #fffaed;
			&.right{
				padding-left: 10px;
			}
		}
	}
}
.mod_flightinfo{
	border:1px solid #dcdcdc;
	background-color: #f7f7f7;
	margin-bottom: 10px;
	padding:10px;
	.flight_info{
		margin-bottom: 10px;
		h4{
			margin-bottom: 5px;
			.transfer {
				display: inline-block;
				font-weight: normal;
				padding:0 3px;
				background-color: #92c0fc;
				color: #fff;
				@include border-radius(3px);
			}
		}
		p{
			font-size: 12px;
			margin-bottom: 5px;
			span {
				margin-right: 10px;
			}
		}
		i {
			font-style: normal;
		}
		.flight_number,.plane_type,.seat_type{
			color: #666;
			strong{
				color: #444;
			}
		}
		.rule{
			i{
				color: #666;
			}
		}
		.flight_line{
			position: relative;
		}

		.flight_from,.flight_to {
			display: inline-block;
			width: 35%;
			color: #000;
			float: left;
			text-align: right;
			.time {
				font-weight: bold;
			}
		}
		.flight_to {
			text-align: left;
			float: right;
		}
		.flight_passby{
			width: 30%;
			position: absolute;
			left: 35%;
			height: 48px;
			text-align: center;
			background: url(http://pic.ctrip.com/fltdomestic111027/ico_sprite.png) -305px 15px no-repeat;
			span {
				background-color: #f7f7f7;
				display: inline-block;
				color: #999;
			}
		}
		dfn{
			font-size: 12px;
			color: #666;
		}
		.price_info{
			padding-left: 20px;
			color: #666;
		}
		.price_number{
			color: #f60;
			font-size: 14px;
			font-family: $third-font-family;
			font-weight: bold;
		}
	}
}
.florder_price {
	border:1px solid #f0e9d6;
	background-color: #fffaed;
	padding:10px 20px;
	.row {
		padding-bottom: 0;
		.columns {
			background-color: #fffaee;
			padding-right:10px; 
			&.right{
				padding-right: 0;
				padding-left: 10px;
				float: right;
				text-align: right;
			}
		}
	}
	.sum{
		font-size: 14px;
		font-weight: bold;
		background: none;
		line-height: 32px;
		.price{
			color: #ff6600;
			font-size: 28px;
			font-family: $body-font-family;
			font-weight: normal;
			dfn{
				font-size: 14px;
				vertical-align: top;
				color: #666;
			}
		}
	}
	.order_detail{
		background: none;
		text-align: right;
	}
	.headline{
		font-weight: bold;
	}
}
/* success */
.florder_success{
	border:1px solid #d3e0f2;
	background-color: #eff6fc;
	padding:60px 0 40px;
	margin-bottom: 20px;
	.florder_success_msg {
		width: 820px;
		margin:0 auto;
		.ico_checked_xxlarge {
			margin-right: 15px;
			float: left;
		}
		.msg_container {
			width: 660px;
			float: left;
			h3 {
				font-family: $second-font-family;
				font-size: 22px;
				font-weight: normal;
				margin-bottom: 5px;
			}
			.subtitle {
				font-size: 14px;
				margin-bottom: 10px;
			}
			.order_info{
				width: 400px;
				h4 {
					font-family: $second-font-family;
					font-size: 16px;
				}
				.view_order{
					font-size: 14px;
				}
			}
			.actions{
				background-color: #dfecfc;
				padding: 9px 10px;
				@include border-radius(3px);
				.button {
					color: $primary-color;
					margin-right: 10px;
					&:hover{
						color: #fff;
					}
				}
				.ico_triangle {
						margin-right: 10px;
				}
				.more_action {
					
					margin-right: 20px;
				}
			}
		}
	}
}
.recommend_title{
	font-size: 16px;
	font-family: $second-font-family;
	font-weight: normal;
	margin-bottom:10px; 
}
.recommend{
	border:1px solid #e0e0e0;;
	border-bottom: none;
	background-color: #f4f4f4;
	padding: 20px;
	&.other{
		border-bottom: 1px solid #e0e0e0;
	}
	h3{
		font-family: $second-font-family;
		font-weight: normal;
		font-size: 18px;
		margin-bottom: 15px;
		em {
			font-family: $body-font-family;
			font-size: 12px;
			margin-left: 20px;
			font-style: normal;
			.ico_solid_arrow{
				margin: 0 4px;
			}
		}
	}
	.flight {
		border:1px solid #d1d1d1;
		@include box-shadow(0 1px 1px #c6c6c6);
		@include border-radius(4px);
		.daily_price{
			text-align: center;
			width: 12.5%;
			float: left;
			a {
				display: block;
				width: 100%;
				height: 52px;
				padding: 24px 0;
				border-right: 1px solid #d1d1d1;
				span {
					font-size: 12px;
					color: #4d4d4d;
				}
				.price{
					display: block;
					font-size: 22px;
					color: #ff6600;
					dfn {
						font-size: 12px;
						vertical-align: text-top;
						color: #4d4d4d; 
					}
				}
				&:hover{
					text-decoration: none;
					background-color: $primary-color;
					color: #fff;
					span{
						color: #fff;
					}
					.price{
						color: #fff;
						dfn {
							color: #fff; 
						}
					}
					.ico_calendar_xxlarge {
						background-position: -200px -75px;
					}
				}
			}
			&.first a {
				@include side-radius(left,4px);
			}
			&.last a {
				@include side-radius(right,4px);
			}
			&.season_price{
				a {
					padding: 10px 0;
					height: 80px;
					span {
						display: block;
						margin-top: 10px;
						font-weight: bold;
					}
				}
			}
		}
	}
	.hotel {
		.hotel_item{
			float: left;
			width: 33%;
			.hotel_image {
				width: 100px;
				height: 100px;
				overflow: hidden;
				@include border-radius(5px);
				img {
					width: 100px;
					height: 100px;
				}
			}
		}
	}
}

/* flight logo padding fix */
[class*="pubFlights"] {
	padding-left: 22px !important;
}

@import "components/ie";