.nojs {
	.mod_idcard_select{
		display: block;
	}
	.custom{
		display: none;
	}
}
.js {
	.mod_idcard_select{
		display: none;
	}
	.custom{
		display: block;
	}
}

.custom.dropdown{
	display: inline-block;
	vertical-align: middle;
	position: relative;
	height: 24px;
	padding: 0px;
	border:1px solid #ccc;
	background: #fff;
	font-size: 12px;
	z-index: 9;
	.current{
		cursor:default;
		white-space: nowrap;
		line-height: 23px;
		color: #333;
		text-decoration: none;
		overflow: hidden;
		display: block;
		margin-left: 5px;
		&:hover{
			text-decoration: none;
		}
	}
	.selector{
		cursor:default;
		position: absolute;
		width: 24px;
		height: 24px;
		display: block;
		right: 0;
		top: 0;
		&:after {
			content: "";
			display: block;
			@include css-triangle(5px, #aaa, top);
			position: absolute;
			left: 7px;
			top: 50%;
			margin-top: -3px;
		}
	}
	&:hover, &.open {
		.options {
			display: block;
		}
		a.selector {
			&:after { @include css-triangle(5px, #333, top); }
		}
	}

	.options{
		z-index: 999;
		display: none;
		border: 1px solid #ccc;
		width: 240px;
		position: absolute;
		top: 22px;
		left: -1px;
		z-index: 10;
		background-color: #fff;
		p {
			margin: 0;
			font-weight: normal;
			padding:5px;
			background-color: #f1f1f1;
			border-top: 1px solid #ccc;
			border-bottom: 1px solid #ccc;
			margin-top:-1px;
		}
		ul {
			margin:0 10px;
		}
		li {
			padding: 2px;
			border-bottom: 1px #ccc dotted;
			a {
				display: block;
				position: relative;
				padding:2px;
				em{
					color: #999;
					overflow: hidden;
					text-overflow:ellipsis;
					white-space: nowrap;
					font-style: normal;
					position: absolute;
					right: 0;
					width: 130px;
					text-align: right;
				}
				&:hover{
					background-color: #e8f4ff;
					text-decoration: none;
				}
			}
		}
	}
}