/* Grid */
@function columnWidthMax($colNumber) {
  @return $colNumber * 80 -20;
}
@function columnWidthMin($colNumber) {
  @return $colNumber * 64 -14;
}
.row{
    padding: 5px 0;
    // &.collapse{
    //     padding-top: 0;
    // }
    @include clearfix();
    .cols{
        float: left;
        position: relative;
        &.right{
            float: right;
        }
    }
    @for $i from 1 through 12 {
        .span#{$i} { 
            position: relative;
            width: gridCalc($i, 12);
        }
    }
    // @for $i from 1 through 11 {
    //     .push#{$i} { 
    //         position: relative;
    //         left: gridCalc($i, 12);
    //         right: auto;
    //     }
    //     .pull#{$i} {
    //         position: relative;
    //         right: gridCalc($i, 12);
    //         left: auto;
    //     }
    // }
}
// @media screen and (min-width: 1200px) {
//     .row{
//     	@for $i from 1 through 12 {
//         	.span#{$i} { 
//     			position: relative;
//     			width: gridCalc($i, 12);
//           	}
//         }
//         @for $i from 1 through 11 {
//         	.push#{$i} { 
//         		position: relative;
//         		left: gridCalc($i, 12);
//         		right: auto;
//         	}
//         	.pull#{$i} {
//         		position: relative;
//         		right: gridCalc($i, 12);
//         		left: auto;
//         	}
//         }
//     }
// }