/* ie hack */
.ie6{
	.form_panel{ 
		zoom:1;
		.form_field{
			zoom:1;
		}
		.button{
			zoom:1;
		}
	}
	.form_step_control{
		zoom:1;
	}
	.mod_name_selection{
		li{
			display: inline;
			overflow: hidden;
			text-overflow:ellipsis;
		}
	}
	.passeger_card{
		zoom:1;
	}
	.recommend{
		zoom:1;
	}
	.input_txt{
		margin-left: -3px;
	}
}
.ie7{
	select {
		margin-top: 4px;
	}
}
.lt-ie8{
	.w1180{
		width: 1180px;
	}
	.ico{
		display: inline;
		font-size: 7px;
		&.ico_return{
			font-size: 12px;
		}
	}
	.radio,.checkbox{
		input {
			display: inline;
			margin:0 2px;
		}
	}
	.row{
		.label{
			line-height: 24px;
		}
		.collection {
			input,label,textarea,select {
				zoom: 1;
			}
		}
	}
	.help_inline {
		display: inline;
		padding: 3px 5px 4px;
	}
	
	.help_block {
		padding: 4px 6px 5px;
		.ico{
			margin-top: 2px;
		}
	}
	.dropdown{
		display: inline;
		margin-right: 5px;
	}
	.pagination_centered{
		.pagination li {
			display: inline;
		}
	}
	.recommend{
		.flight{
			.season_price{
				border:0;
				width: 11.6%;
			}
		}
	}
	
	.deliver{
		.address {
			zoom: 1;
		}
	}
	.nav_tabs{
		li{
			zoom:1;
			.ico_tab_active{
				top: 34px;
			}
		}
	}
}