/* Tabs */
.nav_tabs {
	border-bottom: 1px solid #b6b4b4;
	padding-bottom: 10px;
	@include clearfix();
	li {
		float: left;
		margin-right: 10px;
		a {
			display: block;
			position: relative;
			font-size: 12px;
			color: #000;
			font-family: $body-font-family;
			background-color: #fefefe;
			padding: 7px 20px 8px;
			border: 1px solid #d1d1d1;
			@include border-radius(3px);
			@include box-shadow(0 1px 2px #c6c6c6);
			&:hover,
			&:focus {
				text-decoration: none;
				color: #fff;
				background-color: #0066cc;
			}
			.ico_tab_active{
				visibility: hidden;
				position: absolute;
				top: 32px;
				left: 50%;
				margin-left: -6px;
			}
		}
	}
	.active{
		.ico_tab_active {
			visibility: visible;
		}
	 	a,a:hover,a:focus{
	 		border-top: 2px solid #56a2ed;
	 		background-color: #fefefe;
			cursor: default;
			color: #6d6d6d;
			font-weight: bold;
	 	}
	} 
}
.tab_content {
	.tab_pane {
		display: none;
		h4 {
			font-size: 14px;
			font-weight: normal;
			margin-bottom: 10px;
			color: #666;
			span {
				display: inline-block;
				margin-left: 30%;
			}
		}
	}
}
.tab_content {
	.active {
		display: block;
		background-color: #fff;
		padding:10px; 
	}
}
/* Pagination */
.pagination_centered{
	text-align: center;
	.pagination li {
		float: none;
		display: inline-block;
		&.current a{
			color: #666;
			text-decoration: none;
			cursor: default;
			&:hover{
				text-decoration: none;
			}
		}
	}
}
.pagination{
	display: block;
	height: 20px;
	li{
		display: block;
		float: left;
		height: 20px;
		color: #222222;
		font-size: 14px;
		margin-left: 10px;
	}
}