//footer
/*footer*/
#base_ft {
	min-width:980px;
	max-width:1180px;
	padding:0 10px;
	_width:980px;
	margin:0 auto;
	clear:both;
	padding-top:18px;
	border-top:1px dashed #9eccf5;
	font-size:12px;
	font-family:verdana,simsun,serif;
	color:#666;text-align:center;
	a {
		margin:0 2px;
		font-size:12px;
		color:#666;
	}
	#cui_lang_bottom{
		height:20px;
		overflow:hidden;
		margin:5px 0;
		line-height:20px;
		a {
			display:inline-block;padding-left:30px;vertical-align:middle;
			&:hover{
				color:#666;
				text-decoration:none;
			}
		}
		.cui_lang_en,.cui_lang_de,.cui_lang_fr,.cui_lang_es,.cui_lang_ru{
			height:20px;line-height:20px;
		}
		.cui_lang_big5,.cui_lang_gb,.cui_lang_jp,.cui_lang_korea,.cui_lang_ru_big5{
			background-color:#666;
		}
		.cui_lang_ru_big5{
			width:54px;
			overflow:hidden;
		}
	}
}