.mod_passenger_select{
	padding-left: 20px;
	position: relative;
	.passenger_list{
		margin-right: 80px;
		.checkbox{ 
			overflow: hidden;
			width: 19%;
			white-space: nowrap;
			text-overflow:ellipsis;
			input {
				float: none;
			}
		}
	}
	.passenger_more{
		display: none;
		.text_field{
			margin-left: 4px;
			width: 200px;
		}
		.checkbox {
			margin-bottom: 5px;
		}
	}
	.more_passengers{
		float: right;
		margin-right: 10px;
	}

}
