/* Progress bar */
.order_progress {
	@include clearfix();
	margin-bottom: 10px;
	.step{
		width: 24.9%;
		float: left;
		height: auto;
		position: relative;
		padding-top: 26px;
		h4{
			font-size: 12px;
			font-weight: normal;
			color: #9a9a9a;
			text-align: center;
			margin: 0;
		}
		i,.progress_line {
			position: absolute;
			font-size: 0;
			background-image: url(http://pic.ctrip.com/fltdomestic111027/book_progress_8.png);
			background-repeat: no-repeat;		
		}
		i {
			width: 15px;
			height: 15px;
			display: block;
			left: 50%;
			top: 0;
			margin-left: -7px;
			background-position: 0 -20px;
		}
		.progress_line {
			width: 100%;
			height: 7px;
			background-position: -100px -10px;
			top: 4px;
			left: 0;
		}
		.last {
			background-position: 100% -10px;
		}
	}
	.finished{
		h4 {
			color: #799d08;
		}
		i {
			background-position: -20px -20px;
		}
		.progress_line {
			background-position: -100px 0;
		}
		.first {
			background-position: 0 0;
		}
		.last {
			background-position: 100% 0;
		}
	}
}